# Finometer to python example project.

This document is a working example of _*blah*_

In [6]:
import pandas as pd
import numpy as np
import pathlib as pl
import fino2py as f2p  


# saving the name of the data directory
data_dir = pl.Path(r'C:\Users\kevin.omalley\OneDrive - University of Limerick\Documents\GitHub\fino2py\all_data\working_data/Data_fyp')

# saving the path to the timestamps file
time_stamps = pl.Path(r'C:\Users\kevin.omalley\OneDrive - University of Limerick\Documents\GitHub\fino2py\all_data\Timesheets (1)-2.csv')

In [7]:
for i in data_dir.glob('**/*.csv'):
    i.unlink()

In [16]:
y = f2p.import_protocol_times(
    time_stamps,
    )

In [17]:
y.head()

,Participant ID,Start of Baseline,End of Baseline,Start of Task 1,End of Task 1,Start of Recovery Period,End of Recovery Period
0,Participant 1,1900-01-01 09:17:00,1900-01-01 09:27:00,1900-01-01 09:28:00,1900-01-01 09:35:00,1900-01-01 09:35:00,1900-01-01 09:43:00
1,Participant 2,1900-01-01 10:51:00,1900-01-01 11:05:00,1900-01-01 11:06:00,1900-01-01 11:11:00,1900-01-01 11:11:00,1900-01-01 11:19:00
2,Participant 3,1900-01-01 12:20:00,1900-01-01 12:30:00,1900-01-01 12:34:00,1900-01-01 12:38:00,1900-01-01 12:38:00,1900-01-01 12:46:00
3,Participant 4,1900-01-01 13:55:00,1900-01-01 14:05:00,1900-01-01 14:07:00,1900-01-01 14:11:00,1900-01-01 14:12:00,1900-01-01 14:20:00
4,Participant 5,1900-01-01 15:13:00,1900-01-01 15:23:00,1900-01-01 15:25:00,1900-01-01 15:30:00,1900-01-01 15:30:00,1900-01-01 15:38:00

In [11]:
y.head(10)

,Participant ID,Start of Baseline,End of Baseline,Start of Task 1,End of Task 1,Start of Recovery Period,End of Recovery Period
0,Participant 1,1900-01-01 09:17:00,1900-01-01 09:27:00,1900-01-01 09:28:00,1900-01-01 09:35:00,1900-01-01 09:35:00,1900-01-01 09:43:00
1,Participant 2,1900-01-01 10:51:00,1900-01-01 11:05:00,1900-01-01 11:06:00,1900-01-01 11:11:00,1900-01-01 11:11:00,1900-01-01 11:19:00
2,Participant 3,1900-01-01 12:20:00,1900-01-01 12:30:00,1900-01-01 12:34:00,1900-01-01 12:38:00,1900-01-01 12:38:00,1900-01-01 12:46:00
3,Participant 4,1900-01-01 13:55:00,1900-01-01 14:05:00,1900-01-01 14:07:00,1900-01-01 14:11:00,1900-01-01 14:12:00,1900-01-01 14:20:00
4,Participant 5,1900-01-01 15:13:00,1900-01-01 15:23:00,1900-01-01 15:25:00,1900-01-01 15:30:00,1900-01-01 15:30:00,1900-01-01 15:38:00
5,Participant 6,1900-01-01 10:57:00,1900-01-01 11:07:00,1900-01-01 11:12:00,1900-01-01 11:17:00,1900-01-01 11:17:00,1900-01-01 11:25:00
6,Participant 7,1900-01-01 13:43:00,1900-01-01 13:57:00,1900-01-01 14:00:00,1900-01-01 14:05:00,1900-01-01 14:06:00,1900-01-01 14:16:00
7,Participant 8,1900-01-01 15:20:00,1900-01-01 15:30:00,1900-01-01 15:33:00,1900-01-01 15:37:00,1900-01-01 15:38:00,1900-01-01 15:46:00
8,Participant 9,1900-01-01 10:57:00,1900-01-01 11:07:00,1900-01-01 11:15:00,1900-01-01 11:20:00,1900-01-01 11:21:00,1900-01-01 11:29:00
9,Participant 10,1900-01-01 12:25:00,1900-01-01 12:37:00,1900-01-01 12:41:00,1900-01-01 12:45:00,1900-01-01 12:46:00,1900-01-01 12:54:00

In [9]:
a, a_id = f2p.read_raw_finometer_data(
    pl.Path([i for i in data_dir.iterdir()][0]),
    '30T',
    save_csv=True
    )

a.head()

c:\Users\kevin.omalley\Desktop\test_env\Lib\site-packages\fino2py\src\read_raw_finometer_data.py:75: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_resampled = df.set_index(pd.to_datetime(df['Time (s)'], format='%H:%M:%S.%f')).resample(f'{interval}').mean()

,Systolic Pressure (mmHg),Diastolic Pressure (mmHg),Mean Pressure (mmHg),Heart rate (bpm),Stroke Volume (ml),Left Ventricular Ejection Time (ms),Pulse Interval (ms),Maximum Slope (mmHg/s),Cardiac Output (l/min),Total Peripheral Resistance Medical Unit (mmHg.min/l),Total Peripheral Resistance CGS (dyn.s/cm5)
Time (s),,,,,,,,,,,
12:00:00.000,97.300737,66.657736,77.978567,74.774280,71.345814,290.981246,808.995311,557.051574,5.323376,0.883923,1178.549900
12:30:00.000,116.057250,76.845612,89.546222,71.602534,82.729517,299.237447,844.732520,728.203660,5.905772,0.921761,1229.035664
13:00:00.000,112.846154,69.615385,83.461538,70.230769,92.246154,309.743590,863.461538,818.641026,6.441026,0.786128,1048.051282

In [ ]:
import warnings

warnings.filterwarnings('ignore')
dfs = []

for row in y.iloc[0:10,:].iterrows():
    id = row[1][0]
    times = {'baseline' : [row[1][1], row[1][2]], 'task' : [row[1][3], row[1][4]], 'recovery' : [row[1][5], row[1][6]]}


    for folder in data_dir.glob('**'):
        if id == folder.stem.split('_')[0]:
            df, df_id = f2p.read_raw_finometer_data(folder)

            try:
                dfs.append(f2p.import_protocol_averages(df, df_id, times))
            except:
                print(f"Could not import protocol averages for {id}")

warnings.filterwarnings('default')




result_df = pd.concat(dfs, axis=0)

In [ ]:
result_df.head()

In [ ]:
result_df.tail()

In [ ]:
for i in result_df.columns:
    print(i, len(result_df.columns))